# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

schedules:
- cron: "0 0 * * 0"
  displayName: Weekly midnight build
  branches:
    include:
    - main
  always: true

trigger: none
pr:
  branches:
    include:
      - main

stages:
- stage: build
  jobs:
  - template: .azure-pipelines/build-template.yml
    parameters:
      pool: sonicso1ES-amd64
  - template: .azure-pipelines/build-template.yml
    parameters:
      pool: sonicso1ES-arm64
      arch: arm64
  - template: .azure-pipelines/build-template.yml
    parameters:
      pool: sonicso1ES-armhf
      arch: armhf
      image: sonicdev-microsoft.azurecr.io/sonic-slave-trixie-armhf
- stage: test
  variables:
    CMAKE_BUILD_TYPE: Debug
  dependsOn: []
  jobs:
  - template: .azure-pipelines/test-template-armhf.yml
